@import url('https://fonts.googleapis.com/css?family=Raleway|Montserrat');

.App {
  box-sizing: border-box;
  padding: 0;
  max-width: 700px;
  margin: 0 auto;
}

h1 {
  font-family: Raleway;
  font-weight: bolder;
  text-align: center;
  padding: 1rem;
  margin-right: 4rem;
}

section {
  display: flex;
  justify-content: space-around;
  font-family: Montserrat;
  font-weight: bold;
}

.all, .active, .completed {
  padding: 1rem;
  cursor: pointer;
}

.all {
  border-bottom: 5px solid #2f80ed;
  border-radius: 5px;
}

.input1 {
  width: 400px;
  padding: 1rem;
  border-radius: 10px;
  border: 2px inset rgb(245, 240, 240);
  margin-right: 0.5rem;
  font-family: montserrat;
}

.input1:hover {
  border-color: #2f80ed;
  
}

.addButton {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color: #2f80ed;
  color: white;
  font-size: large;
  border: transparent;
  cursor: pointer;
}

.addButton:hover {
  transform: scale(1.05);
}

form {
  text-align: center;
  margin-top: 0.8rem;
}

.allTodos {
  width: 500px;
  margin: 1.5rem auto;
  font-family: montserrat;
  font-weight: 550;
  font-size: 1.2rem;
}

#todo:checked + label {
  color: grey;
  text-decoration: line-through;
}

label {
  padding: 5px;
}

.delBtn {
  background-color: rgb(209, 223, 223);
  border: none;
  cursor: pointer;
}

.delBtn:hover {
  border: outset;
}