@import url('https://fonts.googleapis.com/css?family=Raleway|Montserrat');

body {
  box-sizing: border-box;
  padding: 0;
  max-width: 700px;
  margin: 0 auto;
  height: 100%;
}

h1 {
  font-family: Raleway;
  font-weight: bolder;
  text-align: center;
  padding: 1rem;
  margin-right: 4rem;
}

section {
  display: flex;
  justify-content: space-around;
  font-family: Montserrat;
  font-weight: bold;
}

.all, .active, .complete {
  padding: 1rem;
  cursor: pointer;
  background: transparent;
  border: transparent;
  font-size: 1.2rem;
}

.all:focus, .active:focus, .complete:focus{
  border-bottom: 5px solid #2f80ed;
}

.input1 {
  width: 400px;
  padding: 1rem;
  border-radius: 10px;
  border: 2px inset rgb(245, 240, 240);
  margin-right: 0.5rem;
  font-family: montserrat;
}

.input1:hover {
  border-color: #2f80ed;
  border-style: outset;
  border-width: 3px;
}

.addButton {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color: #2f80ed;
  color: white;
  font-size: large;
  border: transparent;
  cursor: pointer;
}

.addButton:hover {
  transform: scale(1.05);
}

form {
  text-align: center;
  margin-top: 0.8rem;
}

.allList {
  width: 500px;
  margin: 1.5rem auto;
  font-family: montserrat;
  font-weight: 550;
  font-size: 1.1rem;
}


#todo {
  border-color: rgb(68, 201, 206);
}

#todo:hover {
  border:1px solid #2f80ed;
  cursor: pointer;
}

.addCheck {
  text-decoration: line-through;
  opacity: 0.5;
}

label {
  padding: 0 20px;
  vertical-align: top;
}

hr {
  margin-top: -2px;
  max-width: 800px;
}

.todoListSection {
  display: block;
}

.delBtn {
  border: none;
  cursor: pointer;
  vertical-align: middle;
  padding: 5px;
  font-size: x-small;
  background-color: transparent;
  margin-right: 20px;
}

.delBtn:hover {
  border: outset;
}

.btn-div {
  float: right;
}

@media only screen and (min-width: 711px) {
  body {
    max-width: 1069px;
  }
}

@media only screen and (max-width: 626px) {
  .allList {
    width: 300px;
    height: 15px;
    font-size: 1rem;
    letter-spacing: -0.03em;
  }
  .input1 {
    width: 200px;
  }
  .addButton {
    width: 70px;
  }
}